header{

  border-top: 40px solid #333;
  padding-bottom: 25px ;
  padding-top: 25px ;
  margin-bottom: 25px;
  border-width: auto;
  overflow: auto;
  text-transform: none;
  text-decoration: none;
  font-size: 30px;

}

h1{
margin-top:75px;
margin-bottom:50px;
text-align: center;
}
