body {
  margin: 0 !important;
}

header{

  width: 100%;
  padding-top: 0 ;
  margin-bottom: 40px;
  overflow: auto;
  text-transform: none;
  text-decoration: none;
  font-size: 30px;



}

nav{
  text-align: center;
  text-decoration: none;
  text-transform: non;
  font-size: 20px;
  padding-bottom: 10px;
  color: black;
  font-family: 'Lora', serif;
  margin-bottom: 20px;

}

a:hover{
  color: black;
}

a {
  color: gray;
  margin:10px;
  padding-left:20px;

}

nav a:hover{
  color: gray;
}

nav a{
  color: black;
  padding-left: 10px;
  padding-right: 10px;
}

h4{
  color: black;
  marigin-top:10px;
  font-weight: lighter;

}

h1{

  width: 100%;
  padding-top: 0;
  margin-top: 70px;
  margin-bottom: 30px;
  border-width: auto;
  overflow: auto;
  text-transform: none;
  text-decoration: none;
  text-align: center;
  font-size: 40px;
  font-family: 'Playfair Display', serif;
  font-style: italic;
  font-weight: normal;
  color: #282828;

}

.actions{
margin-left: 100px;
margin-bottom: 40px;
}


h2{

  width: 100%;
  padding-top: 50px;
  text-align: center;
  margin-bottom: 20px;
  border-width: auto;
  overflow: auto;
  text-transform: none;
  text-decoration: none;
  font-size: 30px;
  color: #282828;



}

.heroimage{
  padding-top: o;
  background-image: url('/assets/Category-Page-Pastel.jpg');
  height: 280px;
  margin-bottom: 10px;
  text-align: center;




}

h3{
margin-top:25px;
margin-bottom:50px;
text-align: center;
font-size: 20px;
text-decoration: none;
text-transform: none;

}

.field{

  padding: 10px;
  margin: 20px;
}

table{
margin: 0 auto;
padding: 10px;
}

tbody{
  text-decoration: none;
  text-transform: none;


}
td {
  padding: 10px 10px;
}

main{
  margin-left: 50px;
  margin-right: 50px;
  text-decoration: none;
  text-transform: none;


}

#search-form{
  background: #282828;
  height: 40px;
  padding-bottom: 7px;
  padding-left: 50px;
}

title{


}

footer{
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  text-decoration: none;
  text-transform: none;

}
